.ah-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.ah-row-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.ah-row-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.ah-row-3 > div {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.ah-space_between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
body {
  font-family: PT Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  min-width: 1210px;
  overflow: auto;
}
.ah-main-wrapper {
  background-image: url('../img/bg/bg_2000.jpg');
  background-position: top center;
  background-repeat: no-repeat;
}
.ah-wrapper {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
  /*@media (max-width:1000px){
        padding:0 10px;
    }*/
}
.ah-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.ah-row-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.ah-row-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.ah-row-3 > div {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.ah-space_between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.ah-button {
  width: 238px;
  height: 49px;
  background-repeat: no-repeat;
  background-position: center;
  text-shadow: -1.6px 1.2px 0 rgba(0, 0, 0, 0.28);
  color: white;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
}
.ah-button-orange {
  background-image: url('../img/bg/button-orange.png');
}
.ah-button-orange:hover {
  background-image: url('../img/bg/button-orange-hover.png');
}
.ah-button-green {
  background-image: url('../img/bg/button-green.png');
}
.ah-button-green:hover {
  background-image: url('../img/bg/button-green-hover.png');
}
.ah-panel {
  background-color: white;
  border-top: 3px solid;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 10px;
  max-width: 368px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.ah-panel .ah-header {
  font-size: 19px;
  font-weight: 700;
  padding: 18px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px;
  position: relative;
}
.ah-panel-blue {
  border-color: #0173ba;
}
.ah-panel-blue .ah-header {
  color: #0173ba;
}
.ah-panel-green {
  border-color: #99bf33;
}
.ah-panel-green .ah-header {
  color: #99bf33;
}
.ah-panel-green2 {
  border-color: #639521;
}
.ah-panel-green2 .ah-header {
  color: #639521;
}
.ah-bg-nah {
  background-image: url('../img/bg/bg-panel.png');
  background-position: center -70px;
  height: 100%;
}
.ah-button-close {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
  background-image: url('../img/icon/icon-close.png');
}
/*popup*/
.ah-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ah-popup .ah-popup-bg {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.ah-popup .ah-popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
}
.ah-popup .ah-popup-content .ah-panel {
  position: relative;
  overflow: visible;
  background: white;
}
.ah-popup .ah-popup-content .ah-panel .ah-content {
  padding: 30px 45px;
}
.ah-popup .ah-popup-content .ah-panel .ah-content form .ah-form-field {
  padding-bottom: 20px;
}
.ah-popup .ah-popup-content .ah-panel .ah-content form .ah-form-field input {
  min-width: 280px;
  border-radius: 4px;
  border: 1px solid #639521;
  height: 34px;
  padding: 5px;
}
.ah-popup .ah-popup-content .ah-panel .ah-content form .ah-form-field textarea {
  min-width: 280px;
  border-radius: 4px;
  border: 1px solid #639521;
  height: 90px;
  padding: 5px;
  font-family: PT Sans;
}
.ah-popup .ah-popup-content .ah-panel .ah-content form .ah-form-submit {
  text-align: center;
}
.ah-popup .ah-popup-content .ah-panel .ah-content form .ah-row {
  padding-bottom: 20px;
}
.ah-popup .ah-popup-content .ah-panel .ah-content form a {
  color: #1678b6;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-decoration: underline;
}
.ah-popup .ah-popup-content .ah-panel .ah-content form .ah-form-check input {
  display: none;
}
.ah-popup .ah-popup-content .ah-panel .ah-content form .ah-form-check input:checked ~ label:before {
  background-image: url('../img/icon/icon-check-checked.png');
}
.ah-popup .ah-popup-content .ah-panel .ah-content form .ah-form-check label {
  color: #4c4c4c;
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.ah-popup .ah-popup-content .ah-panel .ah-content form .ah-form-check label:before {
  display: block;
  content: '';
  width: 20px !important;
  height: 20px;
  background-image: url('../img/icon/icon-check.png');
  margin-right: 10px;
  flex-shrink: 0;
}
.ah-hidden {
  display: none;
}
/*icons*/
.ah-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 10px;
}
.ah-icon-01 {
  background-image: url('../img/icon/icon-01.png');
}
.ah-icon-02 {
  background-image: url('../img/icon/icon-02.png');
}
.ah-icon-03 {
  background-image: url('../img/icon/icon-03.png');
}
.ah-icon-04 {
  background-image: url('../img/icon/icon-04.png');
}
.ah-icon-05 {
  background-image: url('../img/icon/icon-05.png');
}
.ah-icon-06 {
  background-image: url('../img/icon/icon-06.png');
}
.ah-icon-07 {
  background-image: url('../img/icon/icon-07.png');
}
.ah-icon-08 {
  background-image: url('../img/icon/icon-08.png');
}
.ah-icon-09 {
  background-image: url('../img/icon/icon-09.png');
}
.ah-icon-10 {
  background-image: url('../img/icon/icon-10.png');
}
.ah-icon-11 {
  background-image: url('../img/icon/icon-11.png');
}
.ah-icon-12 {
  background-image: url('../img/icon/icon-12.png');
}
.ah-icon-ukraine {
  background-image: url('../img/icon/icon-ukraine.png');
  background-position: center;
  background-repeat: no-repeat;
}
.ah-green {
  color: #639521;
}
header .ah-wrapper {
  padding: 20px 105px;
  /*@media(max-width:1000px){
            padding:10px;
        }*/
}
header .ah-wrapper .ah-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
header .ah-wrapper .ah-header > div {
  min-width: 25%;
  /*@media (max-width:1230px){
                    min-width:0;
                }*/
}
header .ah-wrapper .ah-header > div > a {
  color: #fff;
  text-decoration: underline;
}
header .ah-wrapper .ah-header .ah-mail {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-image: url('../img/icon/icon-mail.png');
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 40px;
  margin-left: 50px;
  margin-top: -4px;
  /*@media (max-width:1230px){
                    margin:0;
                }*/
}
header .ah-wrapper .ah-header .ah-mail a {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}
header .ah-wrapper .ah-header .ah-call {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: 10px;
  margin-top: -4px;
  /*@media (max-width:1230px){
                    margin:0;
                }*/
}
header .ah-wrapper .ah-header .ah-call span {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  padding-left: 35px;
  background-repeat: no-repeat;
  background-position: left;
}
header .ah-wrapper .ah-header .ah-call .ah-icq {
  background-image: url('../img/icon/icon-icq.png');
}
header .ah-wrapper .ah-header .ah-call .ah-tel {
  background-image: url('../img/icon/icon-phone.png');
}
header .ah-wrapper .ah-header .ah-auth {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: -23px;
  /*@media (max-width:1230px){
                    margin:0;
                }*/
}
header .ah-wrapper .ah-header .ah-auth > a {
  padding-left: 30px;
  background-position: left;
  background-repeat: no-repeat;
}
header .ah-wrapper .ah-header .ah-auth .ah-login {
  background-image: url('../img/icon/icon-login.png');
  font-size: 16px;
  font-weight: 400;
  color: #5ad6ff;
}
header .ah-wrapper .ah-header .ah-auth .ah-register {
  background-image: url('../img/icon/icon-register.png');
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  margin-top: 8px;
}
header .ah-wrapper nav {
  padding: 70px 100px 0 65px;
}
header .ah-wrapper nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
header .ah-wrapper nav ul li a {
  font-size: 15px;
  font-weight: 700;
  color: #30414b;
}
header .ah-wrapper nav ul li a:hover {
  color: #6e9e25;
  text-decoration: underline;
}
header .ah-wrapper nav ul li.ah-active a {
  color: #6e9e25;
  text-decoration: underline;
}
main .ah-wrapper section .ah-border {
  background-image: url('../img/bg/bg-application.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 452px;
  max-width: 1077px;
  margin: 0 auto;
  margin-top: 25px;
  padding: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  margin-bottom: 333px;
  /*@media (max-width:1230px){
                    background:none;
                }*/
}
main .ah-wrapper section .ah-border .ah-select {
  /*@media (max-width:1230px){
                        display:none;
                    }*/
}
main .ah-wrapper section .ah-border .ah-select > div .ah-header {
  font-size: 13px;
  font-weight: 700;
  color: white;
  padding: 17px;
  text-align: center;
}
main .ah-wrapper section .ah-border .ah-select > div .ah-content ul {
  padding-top: 6px;
}
main .ah-wrapper section .ah-border .ah-select > div .ah-content ul li {
  color: #191919;
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  padding: 6px 12px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
main .ah-wrapper section .ah-border .ah-select > div .ah-content ul li i {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: left;
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
main .ah-wrapper section .ah-border .ah-select > div .ah-content ul li.ah-active {
  background-color: #c0dbef;
}
main .ah-wrapper section .ah-border .ah-select .ah-give {
  min-width: 246px;
}
main .ah-wrapper section .ah-border .ah-select .ah-get {
  min-width: 333px;
}
main .ah-wrapper section .ah-border .ah-select .ah-reserve {
  min-width: 138px;
}
main .ah-wrapper section .ah-border .ah-select .ah-reserve ul li {
  padding-left: 20px;
}
main .ah-wrapper section .ah-border .ah-application {
  /*@media (max-width:1230px){
                        background-color:#84af2c;
                        margin:0 auto;
                    }*/
  min-width: 330px;
  padding: 8px 50px;
}
main .ah-wrapper section .ah-border .ah-application .ah-header {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
}
main .ah-wrapper section .ah-border .ah-application .ah-header h5 {
  color: white;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}
main .ah-wrapper section .ah-border .ah-application .ah-content form > div {
  padding: 0 8px;
  padding-top: 5px;
}
main .ah-wrapper section .ah-border .ah-application .ah-content form > div > span {
  color: white;
  font-size: 13px;
}
main .ah-wrapper section .ah-border .ah-application .ah-content form > div > span:first-child {
  font-weight: 700;
}
main .ah-wrapper section .ah-border .ah-application .ah-content form > div > span:last-child {
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}
main .ah-wrapper section .ah-border .ah-application .ah-content form > div > span:last-child i {
  margin-top: -4px;
  margin-right: 5px;
}
main .ah-wrapper section .ah-border .ah-application .ah-content form .ah-form-field input {
  color: #999;
  font-size: 13px;
  font-weight: 400;
  border-radius: 4px;
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
  padding: 8px;
  width: 100%;
  background-color: white;
}
main .ah-wrapper section .ah-border .ah-application .ah-content form .ah-form-check {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -moz-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
main .ah-wrapper section .ah-border .ah-application .ah-content form .ah-form-check input {
  display: none;
}
main .ah-wrapper section .ah-border .ah-application .ah-content form .ah-form-check input:checked ~ label:before {
  background-image: url('../img/icon/icon-check-checked.png');
}
main .ah-wrapper section .ah-border .ah-application .ah-content form .ah-form-check label {
  color: white;
  font-size: 13px;
  font-weight: 400;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
main .ah-wrapper section .ah-border .ah-application .ah-content form .ah-form-check label:before {
  display: block;
  content: '';
  width: 20px !important;
  height: 20px;
  background-image: url('../img/icon/icon-check.png');
  margin-right: 10px;
}
main .ah-wrapper section .ah-border .ah-application .ah-content form .ah-text-center {
  display: block !important;
  text-align: center;
}
main .ah-wrapper section .ah-border .ah-application .ah-content form .ah-text-center span {
  display: block !important;
  text-align: center;
}
main .ah-wrapper section .ah-border .ah-application .ah-content form .ah-form-submit input {
  margin-left: -10px;
}
main .ah-wrapper section > .ah-row-3 > .ah-panel {
  width: 30%;
}
main .ah-wrapper section > .ah-row-3 > .ah-panel-blue .ah-content ul {
  padding-bottom: 20px;
}
main .ah-wrapper section > .ah-row-3 > .ah-panel-blue .ah-content ul li .ah-arrow {
  background-image: url('../img/icon/arrow-change.png');
  padding-left: 40px;
  background-repeat: no-repeat;
  background-position: left;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 10px 19px;
}
main .ah-wrapper section > .ah-row-3 > .ah-panel-blue .ah-content ul li .ah-arrow span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #191919;
  font-size: 13px;
  font-weight: 400;
}
main .ah-wrapper section > .ah-row-3 > .ah-panel-blue .ah-content ul li > div:last-child {
  background-color: #e7f2fb;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 36px;
  border-bottom: 1px dashed #c8e1f5;
  padding-left: 60px;
}
main .ah-wrapper section > .ah-row-3 > .ah-panel-green {
  margin: 0 20px;
}
main .ah-wrapper section > .ah-row-3 > .ah-panel-green .ah-content {
  /*@media (max-width:1230px){
                            background:none;
                        }*/
}
main .ah-wrapper section > .ah-row-3 > .ah-panel-green .ah-content .ah-counter {
  text-align: center;
  padding-top: 33px;
  padding-bottom: 22px;
}
main .ah-wrapper section > .ah-row-3 > .ah-panel-green .ah-content .ah-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #4c4c4c;
  line-height: 21px;
}
main .ah-wrapper section > .ah-row-3 > .ah-panel-green .ah-content > div:last-child {
  text-align: center;
}
main .ah-wrapper section > .ah-row-3 > .ah-panel-green .ah-content > div:last-child button {
  margin-top: 25px;
}
main > section {
  background-image: url('../img/bg/bg-2.jpg');
  background-position: top;
  background-repeat: no-repeat;
  margin-top: 44px;
  color: #fff;
}
main > section .ah-wrapper {
  padding-top: 32px;
}
main > section .ah-wrapper .ah-how {
  padding-bottom: 84px;
}
main > section .ah-wrapper .ah-how .ah-header {
  text-align: center;
}
main > section .ah-wrapper .ah-how .ah-header h2 {
  text-shadow: -2.4px 1.8px 0 rgba(0, 0, 0, 0.28);
  font-size: 41px;
  font-weight: 700;
}
main > section .ah-wrapper .ah-how .ah-header span {
  font-size: 15px;
  font-weight: 400;
}
main > section .ah-wrapper .ah-how .ah-row-3 {
  padding-top: 25px;
}
main > section .ah-wrapper .ah-how .ah-row-3 .ah-content {
  max-width: 507px;
}
main > section .ah-wrapper .ah-how .ah-row-3 .ah-content p {
  padding-bottom: 19px;
}
main > section .ah-wrapper .ah-how .ah-row-3 .ah-content p:last-child {
  padding-bottom: 0;
}
main > section .ah-wrapper .ah-how .ah-row-3 .ah-shkaf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  width: 220px;
  padding-top: 112px;
  /*@media (max-width:1230px){
                            >i{
                                display:none;
                            }
                        }*/
}
main > section .ah-wrapper .ah-how .ah-row-3 .ah-shkaf > i {
  width: 33.33%;
  background-repeat: no-repeat;
  margin: 0;
  background-position: center;
  margin-top: 28px;
}
main > section .ah-wrapper .ah-how .ah-row-3 .ah-advanced {
  text-align: center;
  padding-top: 6px;
}
main > section .ah-wrapper .ah-how .ah-row-3 .ah-advanced .ah-register {
  padding-top: 45px;
}
main > section .ah-wrapper > .ah-header {
  color: #0173ba;
  font-size: 19px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 40px;
}
main > section .ah-wrapper .ah-content ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  /*@media (max-width:1000px){
                        flex-wrap:wrap;
                    }*/
}
main > section .ah-wrapper .ah-content ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  color: #333;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 40px;
  background-image: url('../img/icon/arrow.png');
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 45px;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -moz-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  /*@media (max-width:1230px){
                            padding-right:20px;
                            margin-right:20px;
                        }
                        @media (max-width:1000px){
                            padding-right:10px;
                            margin-right:10px;
                            width:48%;
                        }*/
}
main > section .ah-wrapper .ah-content ul li:last-child {
  margin: 0;
  padding: 0;
  background: none;
}
main > section .ah-wrapper .ah-content ul li .ah-img {
  margin-right: 13px;
}
footer {
  padding-top: 34px;
  background-image: url('../img/bg/bg-footer.png');
  background-repeat: repeat-x;
  background-position: bottom;
}
footer .ah-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .ah-wrapper .ah-text-center {
  width: 100%;
  text-align: center;
  color: #333;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  border-bottom: 1px dashed #9ccbec;
  padding-bottom: 23px;
}
footer .ah-wrapper .ah-copy {
  color: #333;
  font-size: 13px;
  font-weight: 400;
}
footer .ah-wrapper nav {
  width: 60%;
}
footer .ah-wrapper nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
footer .ah-wrapper nav ul li.ah-active a {
  font-size: 13px;
  font-weight: 700;
  color: #639521;
  text-decoration: underline;
}
footer .ah-wrapper nav ul li a {
  font-size: 13px;
  font-weight: 700;
  color: #0173ba;
}
footer .ah-wrapper nav ul li a:hover {
  font-size: 13px;
  font-weight: 700;
  color: #639521;
  text-decoration: underline;
}
footer .ah-wrapper .ah-social {
  width: 142px;
  padding: 12px 0;
}
footer .ah-wrapper .ah-social ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -moz-box-orient: horizontal;
  -moz-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
footer .ah-wrapper .ah-social ul li a img {
  display: block;
}
.ah-breadcrumbs ul {
  display: flex;
  flex-direction: row;
}
.ah-breadcrumbs ul li {
  color: #30414b;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
}
.ah-breadcrumbs ul li:after {
  content: '/';
  display: inline-block;
  margin: 0 11px;
}
.ah-breadcrumbs ul li:last-child:after {
  display: none;
}
.ah-breadcrumbs ul li a {
  color: #30414b;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}
.ah-reviews .ah-content .ah-comment {
  padding: 19px 25px;
  border-bottom: 1px dashed #c8e1f5;
}
.ah-reviews .ah-content .ah-comment .ah-img {
  padding-right: 17px;
}
.ah-reviews .ah-content .ah-comment .ah-text .ah-name {
  color: #4c4c4c;
  font-weight: 400;
  font-size: 19px;
}
.ah-reviews .ah-content .ah-comment .ah-text .ah-date {
  color: #4c4c4c;
  font-size: 13px;
  line-height: 19px;
  padding-bottom: 20px;
  display: block;
}
.ah-reviews .ah-footer {
  margin-top: -1px;
  background-color: white;
  padding-top: 10px;
  text-align: center;
  padding-bottom: 9px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}
.ah-reviews .ah-footer .ah-button-comment {
  color: #639521;
  font-size: 15px;
  font-weight: 700;
  border: 1px solid #639521;
  border-radius: 5px;
  padding: 9px;
}
.ah-reviews .ah-footer .ah-button-comment:hover {
  color: #0173ba;
  border-color: #0173ba;
}
.ah-popular .ah-content .ah-row {
  border-bottom: 1px dashed #cde4f6;
  padding: 15px 25px;
}
.ah-popular .ah-content .ah-row .ah-img {
  padding-right: 15px;
  border-radius: 50%;
  min-width: 80px;
  min-height: 80px;
  overflow: hidden;
}
.ah-popular .ah-content .ah-row .ah-img img {
  width: 100%;
  height: auto;
}
.ah-popular .ah-content .ah-row .ah-text {
  padding-top: 10px;
}
.ah-pagination {
  padding-top: 30px;
}
.ah-pagination ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ah-pagination ul li {
  margin: 0 1px;
  color: #30414b;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.ah-pagination ul li.ah-active a {
  color: white;
  background-color: #ff9300;
}
.ah-pagination ul li.ah-next:hover a {
  background-image: url('../img/icon/icon-arrow-next-hover.png');
}
.ah-pagination ul li.ah-next a {
  background-image: url('../img/icon/icon-arrow-next.png');
  padding-right: 20px;
  background-position: right;
  background-repeat: no-repeat;
}
.ah-pagination ul li a {
  color: #075b89;
  padding: 5px 10px;
  border-radius: 3px;
  display: block;
}
.ah-pagination ul li a:hover {
  color: white;
  background-color: #ff9300;
}