.header {
    z-index: 1;
}

img {
    max-width: 100%;
}
.full-page {
    margin-top: 120px;
}
.full-page b,
.full-page strong {
    font-weight: bold;
}
.full-page h1:first-letter {
    color: #1ead57;
}

.bid .bid-block .info .rows .row .image {
    max-width: 40px;
    margin-left: 5px;
}

.bid .bid-block .info .rows .row .amount {
    margin: 0 0 0 5px;
    font-size: 11px;
}

.ui-dialog.ui-widget.ui-widget-content {
    z-index: 99;
}

.ui-widget-overlay.ui-front {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    z-index: 2;
}

.bid .bid-block .info .rows .row {
    cursor: pointer;
}

.bid .bid-block .info .rows .row.active {
    background: #4b4b4b;
}

.bid .bid-block .info .rows .row.active .amount, .bid .bid-block .info .rows .row.active .reserve {
    color: #fff;
}

.hidden {
    display: none!important;
}