.header {
    z-index: 1;
}

img {
    max-width: 100%;
}
.full-page,
.account-page{
    margin-top: 120px;
}
.full-page b,
.full-page strong {
    font-weight: bold;
}
.full-page h1:first-letter,
.article-page h1:first-letter{
    color: #1ead57;
}

.bid .bid-block .info .rows .row .image {
    max-width: 40px;
    margin-left: 5px;
}

.article-page {
    margin-top: 120px;
}

.bid .bid-block .info .rows .row .amount {
    margin: 0 0 0 5px;
    font-size: 11px;
}

.ui-dialog.ui-widget.ui-widget-content {
    z-index: 99;
}

.article-page .main-content .pagination-wrapper .pagination a.current {
    display: inline-block;
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
    color: #000000;
    padding: 4px;
}
.article-page .main-content .pagination-wrapper .pagination a.current {
color: #ffffff;
background: #1ead57;
padding: 4px 9px 4px 7px;
cursor: default;
}

.ui-widget-overlay.ui-front {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.5);
    z-index: 2;
}

.bid .bid-block .info .rows .row {
    cursor: pointer;
}

.bid .bid-block .info .rows .row.active {
    background: #4b4b4b;
}

.bid .bid-block .info .rows .row.active .amount, .bid .bid-block .info .rows .row.active .reserve {
    color: #fff;
}

.hidden {
    display: none!important;
}

.ui-dialog.ui-widget.ui-widget-content .ui-dialog-content form .chkbx label {
    display: inline-block;
    margin-left: 10px;
}

.bid .bid-block .form .fields .amount {
    position: relative;
}
.bid .bid-block .form .fields .amount .currency {
    position: absolute;
    right: 8px;
    top: 7px;
}

.firms .col {
    max-width: 720px;
    float: none;
    width: auto;
}
.firms .col .firm {
    display: inline-block;
    vertical-align: top;
    width: 32%;
}

.firms .col .firm input {
    display: none;
}
.info-block .block {
    overflow-y: hidden;
}
.info-block .block .last-changes {
    height: 260px;
}

.hidden {
    display: none !important;
}